*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/frecciarossa.jpg);
  background-size: cover;
}


main{
  display: flex;
  justify-content: center;
}
.ticket{
  width: 300px;
  height: 100%;
  background-color: #F0FFFF;
  border-radius: 5px;
  border: 2px solid #8B0000;
  font-size: 12px;
  text-align: center;
  margin-top: 60px;
}
#logo{
  background-color: #B22222;

}
#logo img{
  width: 100px;
  height: 100px;
}
#italia img{
  width: 300px;
  height: 300px;
}
.navbar{
  display: inline-block;
}

.navbar nav ul li{
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  padding-right: 80px;

}
.navbar nav{
  margin-left: 150px;
  transform: translate(0, -100%);
}
a{
  text-decoration: none;
  color: white;
}
#icon{
  display: inline-block;
  color: white;
  font-size: 30px;
  transform: translate(0, -30%);
  margin-left: 50px;
  text-align: center;
}
#icon p{
  font-size: 10px;
  font-family: monospace;
}
#train-img{
  display: flex;
  justify-content: center;
  margin: 50px;
}
#train-img img{
  margin: 20px;
  transition: 0.3s;
  border-radius: 5px;
}
#train-img img:hover{
  filter: grayscale(1);
}
footer{
  width: 100%;
  height: 80px;
  background-color: #B22222;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
footer i{
  color: white;
  font-size: 25px;
  padding: 20px;
}
